#head{
  margin-left: 20px;
}
#head img{
  width:1300px;
  height: 200px;
}

#menu-bar{
  width:1300px;
  height: 10px;
}
#menu-bar ul {
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    background-image:url(../images/menu-bar-bg.jpg);
}
#menu-bar li {
    float: left;
}

#menu-bar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
}

#menu-bar li a:hover {
      background-image:url(../images/menu-bar-bg.jpg);
}

#content{
  position: relative;
  top:20px;
  width: 400px;
  left:30px;

}
#content p{
  font-family:"Comic Sans MS";
  font-size: 16px;
  text-align: justify;
}

.contact-person img{
  width:30px;
  height:30px;
}
.sidebar{
  position: absolute;
  width: 400px;
  top:0px;
  left:450px;
}
.sidebar-01{
  position: absolute;
  width: 400px;
  left:900px;
  top:0px;
}
hr {
    border-width: 2px;
}
#sidebar-01-hr{
  position: relative;
  left: -20px;
}
#sidebar-01-hr hr{
  border-width: 2px;
}
.form{
	position:relative;
  left: -20px;
}

.headline{
	position:static;
	width:400px;
	float:left;
}

#news-title{
	position:static;
	text-indent:10px;

}
#news-title p{
	position:static;
	font-size:12px;
}
.pekan-1-position{
  position: relative;
  left:20px;
}
.pekan-2-position{
  position: relative;
  top:-842px;
  left:700px;
}
.pekan-3-position{
  position: relative;
  left:20px;
  top:-842px;
}
.pekan-4-position{
  position: relative;
  top:-1684px;
  left:700px;
}
#pekan-1{
	width:600px;
	height:750px;
	border:solid 10px black;
}
#pekan-1 li,p{
	font-family:times new roman;
}
#pekan-1 ol{
	padding-left:20px;
}
#pekan-2{
	width:600px;
	height:750px;
	border:solid 10px black;
}
#pekan-2 li,p{
	font-family:times new roman;
}
#pekan-2 ol{
	padding-left:20px;
}
#pekan-3{
	width:600px;
	height:750px;
	border:solid 10px black;
}
#pekan-3 li,p{
	font-family:times new roman;
}
#pekan-3 ol{
	padding-left:20px;
}
#pekan-4{
	width:600px;
	height:750px;
	border:solid 10px black;
}
#pekan-4 li,p{
	font-family:times new roman;
}
#pekan-4 ol{
	padding-left:20px;
}

#height{
  height: 4500px;
}
.footer{
  position:relative;
  bottom: 0px;
  width: 100%;
  margin: 0px;
  top:200px;
  min-height: 100%;
}
